// background color stacks
$primary-background-color: #ececec;
$secondary-background-color: #1c1c1c;
// color stacks
$primary-color: #fdfdfd;
//font-family stacks
$primary-font-family: 'Times New Roman', serif;