@charset "UTF-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */
/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

/* Force scrollbar */
html {
  overflow-y: scroll; }

/* Align radios and text inputs with their label */
input[type='radio'] {
  vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer; }

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit; }

em {
  font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle; }

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0; }

sup {
  top: -.7em; }

sub {
  bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */
.cf:before,
.cf:after {
  display: table;
  content: " "; }

.cf:after {
  clear: both; }

.cf {
  *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif; }

a {
  display: inline-block;
  text-decoration: none; }

li {
  display: inline-block;
  list-style-type: none; }

/*for wrapper*/
.wrapper {
  max-width: 1349px;
  width: 83.5%;
  margin: 0 auto; }

.rectangle {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 36.8%;
  padding: 20px 0;
  position: absolute;
  text-align: right; }
  .rectangle h2 {
    padding-bottom: 29px;
    position: relative;
    font-family: "Times New Roman", serif;
    font-size: 35px;
    text-transform: uppercase; }
    .rectangle h2::before {
      content: ' ';
      width: 90.8%;
      padding: 1px 0;
      position: absolute;
      right: 0;
      bottom: 0;
      background-color: #7f7f7f; }
  .rectangle a {
    width: 50%;
    margin-top: 38px;
    color: #cfc9c9;
    font-size: 16px;
    text-transform: uppercase; }
    .rectangle a::after {
      content: ">";
      float: right;
      font-family: 'fontAwesome';
      font-size: 15px;
      text-indent: 0;
      margin-left: 5%; }

/*=================================
  Header styling starts here
=================================*/
header {
  padding: 40px 0 42px; }
  header .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    -webkit-box-pack: space-between;
    -ms-flex-pack: space-between;
    justify-content: space-between;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: end; }
  header span {
    color: #989898;
    text-indent: -9999px;
    cursor: pointer; }
    header span::after {
      content: "";
      float: right;
      font-family: 'fontAwesome';
      font-size: 28px;
      text-indent: 0; }

/*=================================
  Header styling ends here
=================================*/
.stylish {
  background-color: #ececec; }
  .stylish .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    -webkit-box-pack: space-between;
    -ms-flex-pack: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .stylish .wrapper div {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 43.75%;
      padding: 84px 2.7% 94px;
      border: 3px solid #000000; }
  .stylish h2 {
    width: 97%;
    padding-bottom: 28px;
    border-bottom: 2px solid #000000;
    font-size: 64px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: "Times New Roman", serif;
    line-height: 0.96; }
  .stylish h3 {
    width: 31%;
    padding: 44px 0 0px;
    color: #81899e;
    font-size: 15px;
    text-transform: uppercase; }
  .stylish a {
    width: 100%;
    color: inherit;
    border-bottom: 1px solid #484848; }
    .stylish a::after {
      content: "";
      float: right;
      font-family: 'fontAwesome';
      font-size: 24px;
      text-indent: 0;
      position: relative;
      bottom: 5px; }

.scarf {
  margin: 74px 0; }
  .scarf ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    position: relative; }
  .scarf .dark-background {
    padding: 42px 2.6% 48px;
    left: 8%;
    bottom: 34px;
    background-color: #000000;
    color: #ffffff; }
  .scarf .transparent-background {
    width: 30%;
    padding: 0 2%;
    top: 114px;
    right: 0; }
    .scarf .transparent-background h2::before {
      width: 91%; }
    .scarf .transparent-background a {
      width: 70%;
      color: #6c747b; }
  .scarf li:last-child {
    margin-left: 3.4%; }

.winter {
  margin: 148px 0; }
  .winter ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end;
    position: relative; }
  .winter .transparent-background {
    padding: 0 1.75%;
    top: 95px;
    left: 0;
    text-align: left; }
    .winter .transparent-background h2::before {
      width: 71.5%;
      left: 0; }
    .winter .transparent-background a {
      width: 32%;
      color: #848484; }
  .winter li:last-child {
    margin-left: 3.5%;
    position: relative; }
  .winter .white-background {
    width: 75%;
    padding: 31px 18% 36px 2.2%;
    bottom: 52px;
    background-color: #ffffff;
    text-align: left; }
    .winter .white-background h2 {
      padding-right: 11%; }
      .winter .white-background h2::before {
        width: 100%;
        left: 0; }
    .winter .white-background a {
      width: 46%;
      color: #848484; }

.spring {
  margin: 151px 0 148px; }
  .spring ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    -webkit-box-pack: space-between;
    -ms-flex-pack: space-between;
    justify-content: space-between;
    -webkit-box-align: flex-end;
    -ms-flex-align: flex-end;
    align-items: flex-end;
    position: relative; }
  .spring .dark-background {
    padding: 35px 2.6% 40px;
    left: 8%;
    bottom: 49px;
    background-color: #000000;
    color: #ffffff; }
    .spring .dark-background h2 {
      padding-left: 1%; }
  .spring .transparent-background {
    width: 26%;
    top: 60px;
    right: 24.8%;
    text-align: left; }
    .spring .transparent-background h2::before {
      left: 0; }
    .spring .transparent-background a {
      width: 61%;
      color: #69625f; }
      .spring .transparent-background a::after {
        margin: 0; }

.dress {
  margin: 70px 0; }
  .dress ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end;
    position: relative; }
  .dress li:first-child .rectangle {
    width: 32%;
    top: 75px;
    left: 1.8%;
    text-align: left; }
    .dress li:first-child .rectangle h2::before {
      width: 74.5%;
      left: 0; }
    .dress li:first-child .rectangle a {
      width: 33%;
      color: #69625f; }
      .dress li:first-child .rectangle a::after {
        margin: 0; }
  .dress li:last-child {
    margin-left: 3.5%; }
    .dress li:last-child .rectangle {
      width: 32%;
      padding: 23px 2% 44px 2.2%;
      bottom: 105px;
      background-color: #ffffff;
      text-align: left; }
      .dress li:last-child .rectangle h2 {
        padding-right: 11%; }
        .dress li:last-child .rectangle h2::before {
          width: 85%;
          left: 0; }
      .dress li:last-child .rectangle a {
        width: 46%;
        color: #848484; }

.arrivals {
  background-color: #ececec; }
  .arrivals .wrapper {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    -webkit-box-pack: space-between;
    -ms-flex-pack: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .arrivals .wrapper div {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 37.5%;
      margin: 0 auto;
      padding: 138px 3.5% 145px;
      border: 5px solid #000000; }
  .arrivals h2 {
    width: 97%;
    padding-bottom: 22px;
    border-bottom: 2px solid #000000;
    font-size: 64px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: "Times New Roman", serif;
    line-height: 0.96; }
  .arrivals h3 {
    width: 33%;
    padding: 22px 0 0px;
    color: #81899e;
    font-size: 15px;
    text-transform: uppercase; }
  .arrivals a {
    width: 100%;
    color: inherit; }
    .arrivals a::after {
      content: ">";
      float: right;
      font-family: 'fontAwesome';
      font-size: 15px;
      text-indent: 0; }

/*=================================
  Header styling starts here
=================================*/
footer {
  background-color: #332929;
  padding: 97px 0 0; }
  footer .wrapper {
    width: 100%; }
  footer .links {
    width: 83.5%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row; }
    footer .links li {
      width: 35%; }
  footer h2 {
    margin-bottom: 24px;
    color: #e4e7e1;
    font-size: 20px;
    text-transform: capitalize;
    font-family: "Times New Roman", serif; }
  footer .link li {
    width: auto;
    margin: 12px 0;
    display: block; }
    footer .link li a {
      color: #b5b1a1;
      font-size: 14px;
      text-transform: capitalize;
      font-style: italic; }
  footer .socialMedia {
    width: 100%;
    margin: 80px 0 75px;
    text-align: center; }
    footer .socialMedia li {
      width: 1.5%;
      text-align: center; }
      footer .socialMedia li a {
        color: #ffffff;
        text-indent: -9999px; }
      footer .socialMedia li:first-child a::before {
        content: "";
        float: right;
        font-family: 'fontAwesome';
        font-size: 15px;
        text-indent: 0; }
      footer .socialMedia li:nth-child(2) a::before {
        content: "";
        float: right;
        font-family: 'fontAwesome';
        font-size: 15px;
        text-indent: 0; }
      footer .socialMedia li:nth-child(3) a::before {
        content: "";
        float: right;
        font-family: 'fontAwesome';
        font-size: 15px;
        text-indent: 0; }
      footer .socialMedia li:nth-child(4) a::before {
        content: "";
        float: right;
        font-family: 'fontAwesome';
        font-size: 15px;
        text-indent: 0; }
  footer p {
    padding: 41px 0 38px;
    background-color: #333333;
    color: #a7a7a7;
    font-size: 14px;
    text-align: center; }
    footer p a {
      color: inherit;
      text-transform: capitalize;
      text-decoration: underline; }

/*=================================
  Footer styling ends here
=================================*/
@media only screen and (min-width: 1024px) {
  header span:hover,
  .stylish a:hover {
    color: #000000; }
  .rectangle a:hover,
  .arrivals a:hover {
    text-decoration: underline; }
  footer .links a:hover {
    color: #ffffff; }
  .socialMedia a:hover {
    color: #aaaaaa; }
  footer p a:hover {
    text-decoration: none; } }

@media only screen and (max-width: 995px) {
  .rectangle {
    width: 50%; }
  .stylish .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column; }
    .stylish .wrapper div {
      width: 80%;
      margin: 10px auto; }
  .scarf ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column; }
    .scarf ul li:first-child {
      width: 60%;
      margin: 10px auto; }
    .scarf ul li:last-child {
      width: 60%;
      margin: 10px auto; }
  .winter ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column; }
    .winter ul li {
      width: 60%;
      margin: 10px auto; }
    .winter ul li:last-child {
      margin: 10px auto; }
  .spring ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column; }
    .spring ul li {
      width: 60%;
      margin: 10px auto; }
    .spring ul .transparent-background {
      width: 50%; }
  .dress ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column; }
    .dress ul li {
      width: 60%;
      margin: 10px auto; }
    .dress ul li:last-child {
      margin: 10px auto; }
      .dress ul li:last-child .rectangle {
        width: 50%; }
  .arrivals .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column; }
    .arrivals .wrapper div {
      width: 60%;
      margin: 10px auto; }
  footer .links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    text-align: center; }
    footer .links li {
      margin: 20px auto; }
  footer .socialMedia li {
    width: 3%; } }

@media only screen and (max-width: 425px) {
  .stylish .wrapper div {
    width: 90%; }
  .stylish .wrapper h2 {
    font-size: 40px; }
  .stylish .wrapper h3 {
    width: 46%; }
  .rectangle {
    width: 70%; }
    .rectangle h2 {
      font-size: 20px; }
    .rectangle a {
      width: 70%;
      font-size: 14px; }
  .scarf ul li:first-child {
    width: 100%; }
  .scarf ul .transparent-background {
    width: auto; }
  .scarf ul li:last-child {
    width: 100%; }
  .winter ul li {
    width: 100%; }
  .spring ul li {
    width: 100%; }
  .spring ul .transparent-background {
    width: 70%; }
    .spring ul .transparent-background a {
      width: 66%; }
  .dress ul li {
    width: 100%; }
  .dress ul li:first-child .rectangle {
    width: 60%; }
  .arrivals .wrapper div {
    width: 90%; }
  .arrivals .wrapper h2 {
    font-size: 52px; }
  .arrivals .wrapper h3 {
    width: 40%; }
  footer .socialMedia li {
    width: 5%; } }
